# Ignore by default
*/**

# Root files
!README.md
!DEVOPS.md
!PROJECT
!OWNERS
!go.mod
!go.sum
!bundle.Dockerfile
!Dockerfile
!freeipa_operator_suite_test.go
!main.go
!Makefile
!private.mk.example
!requirements-dev.txt
!.dockerignore
!.gitignore

# Add .github
!.github
!.github/**/*

# Add API
!api
!api/**/*

# Add build/
!build
!build/**/*

# Add config/
!config
!config/**/*

# Add controllers
!controllers
!controllers/**/*

# Add devel
!devel
!devel/**/*

# Add hack
!hack
!hack/**/*

# Add internal
!internal
!internal/**/*

# Add manifests
!manifests
!manifests/**/*

# Add mk
!mk
!mk/**/*

# Add samples
!samples
!samples/**/*

# Add scripts
!scripts
!scripts/**/*

# Add tools
!tools
!tools/**/*
tools/bin

/cover.out
